nav {
    float:right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25 px;

    position: relative;

}

nav a {
    color:#444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

}

nav a:hover {
    color: #000;
}

nav a:before {
    content:'';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width:0%;

    transition: all erase-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

body { 
    background-image:url('https://i.pinimg.com/originals/9e/13/d2/9e13d2289ddf24d59b692dafc27f4ca7.gif'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    display: block;
}

header  {
    font-size: 60px;
    color: #000;
    font-style: italic;
<<<<<<< HEAD:css/style.css
    font-weight: 500;
    font-family: impact
}

table {
    width: 1400 px;
    margin: auto;
    text-align: center;
    table-layout: fixed;
}

table, tr, th, td {
    padding: 20px;
    color: white;
    border: 1px solid #000000;
    font-family: Arial;
    font-size: 20px;

}

th {
    font-weight: 900;
    text-transform: uppercase;

}

td:hover::after, 
th:hover::after {
    background-color: black;
}
=======
    font-weight: 700;
}
>>>>>>> 129240ff695888987b2aa91e6e2ccebdc9183985:web/static/css/style.css
